[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["pip install --break-system-packages -r requirements.txt"]

[start]
cmd = "cd Login && python -m gunicorn wsgi:application --bind 0.0.0.0:$PORT --workers 2"

